In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.1.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 1.6 MB/s eta 0:00:01
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     |████████████████████████████████| 18.2 MB 61.7 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2020.1 in /home/exam1/miniconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/exam1/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 75.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /home/exam1/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.5
    Uninstalling numpy-1.21.5:
      Successfully uninstalled numpy-1.21.5
Successfully installed numpy-1.26.1 pandas-2.1.2 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [3]:

import pandas as pd 
x = pd.Series(['Geeks', 'for', 'Geeks']) 
print(x)

0    Geeks
1      for
2    Geeks
dtype: object

In [9]:
import pandas as pd
d=pd.date_range(start='05-01-2021', end='05-12-2021')
print(d)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [10]:
import pandas as pd 
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age' : [22, 25, 24],
              'occ' : ['engineer', 'doctor', 'accountant']}

dataframe = pd.DataFrame(dictionary)

print(dataframe)

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

In [11]:
import pandas as pd 
lists = [[2, 'Vishal', 22],
         [1, 'Kushal', 25],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])

print(dataframe)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [12]:

dataframe = pd.read_csv('data.csv')

print(dataframe)

    sanna
0  hasnul
1  gopika
2  anjana
3  fathhi

In [19]:
import pandas as pd 
lists = [[2, 'Vishal', 22],
         [5, 'Kushal', 21],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])
print(dataframe) 
print()

dataframe_sorted = dataframe.sort_values(by =['id', 'name', 'age']) # dataframe after sorting by 'id' and 'age'

print(dataframe_sorted)

   id    name  age
0   2  Vishal   22
1   5  Kushal   21
2   1    Aman   24

   id    name  age
2   1    Aman   24
0   2  Vishal   22
1   5  Kushal   21

In [20]:
lists = [[2, 'Vishal', 22],
         [5, 'Kushal', 21],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])
print(dataframe) 

print()

dataframe_customindex = dataframe.set_index('id') 
print(dataframe_customindex)

print()

dataframes = dataframe_customindex.reset_index()

print(dataframes)

   id    name  age
0   2  Vishal   22
1   5  Kushal   21
2   1    Aman   24

      name  age
id
2   Vishal   22
5   Kushal   21
1     Aman   24

   id    name  age
0   2  Vishal   22
1   5  Kushal   21
2   1    Aman   24

In [21]:
lists = [[2, 'Vishal', 22],
         [5, 'Kushal', 21],
         [1, 'Aman', 24]]

dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])
o = dataframe.iloc[[0,1], :]

print(o)

   id    name  age
0   2  Vishal   22
1   5  Kushal   21

In [26]:
dataframe= {'name': ['Vinay', 'Kushal', 'Aman'],
              'salary' : [2200, 2500, 2400],
              'occ' : ['engineer', 'doctor', 'accountant']}
dataframe = pd.DataFrame(dictionary)
print(dataframe) 

print()
occ_average_age = dataframe.groupby('occ')['salary'].mean()

print(occ_average_age)

     name  salary         occ
0   Vinay    2200    engineer
1  Kushal    2500      doctor
2    Aman    2400  accountant

occ
accountant    2400.0
doctor        2500.0
engineer      2200.0
Name: salary, dtype: float64

In [35]:
import numpy as np
dataframe = pd.Series([[np.NaN, 'Kushal', 'Aman'],[2324, np.NaN, 2400], ['engineer', 'doctor', 'accountant']])
print(dataframe)\

print()

dataframe_nullfill = dataframe.fillna(0)

print(dataframe_nullfill)

0               [nan, Kushal, Aman]
1                 [2324, nan, 2400]
2    [engineer, doctor, accountant]
dtype: object

0               [nan, Kushal, Aman]
1                 [2324, nan, 2400]
2    [engineer, doctor, accountant]
dtype: object

In [ ]:
0         Shyam & Co.  -10000
1      Ramlal & Bros.   10000
2  Sharma Enterprises   -5000
3    Verma Furnitures   15000
4        Rahul Stores   20000

In [47]:
company_data={'name':['Shyam & Co','Ramlal & Bros.','Sharma Enterprises','Verma Furnitures', 'Rahul Stores'],
                       'profit':[-10000,10000,-5000,15000,20000]
                      }
d=pd.DataFrame(company_data)

print(d)
d['profit'] = d['profit'].apply(lambda x:x>0)

print(d)

                 name  profit
0          Shyam & Co  -10000
1      Ramlal & Bros.   10000
2  Sharma Enterprises   -5000
3    Verma Furnitures   15000
4        Rahul Stores   20000
                 name  profit
0          Shyam & Co   False
1      Ramlal & Bros.    True
2  Sharma Enterprises   False
3    Verma Furnitures    True
4        Rahul Stores    True

In [ ]:
0    1     Sid    10000
1    2  Ramesh    10000
2    3     Ron     5000
3    4   Harry    15000

In [59]:
emp_data={'eid':[1,2],
          'ename':['Ramesh','Sid'],
          'stipend':[10000,14000]
                     }
d=pd.DataFrame(emp_data)
print(d)
company_data={'eid':[1,2],
              'position':['employee','intern']
                       
                     }
f=pd.DataFrame(company_data)
print()
print(f)

dataframe = pd.merge(d, f, how = 'inner', on = 'eid')

print(dataframe)

   eid   ename  stipend
0    1  Ramesh    10000
1    2     Sid    14000

   eid  position
0    1  employee
1    2    intern
   eid   ename  stipend  position
0    1  Ramesh    10000  employee
1    2     Sid    14000    intern